<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <!-- Output for main react component -->
    <div id="root"></div>

    <!-- Javascript files will be automatically injected into html. This is a feature of a webpack plugin we are using -->
</body>

</html>